.top-nav {
  width: 100%;
  height: 50px;
  border: solid 1px #f1f1f1;
  display: inline-block;
  background-color: #f1f1f1;
}

.fixed {
  position: fixed;
  top: 0px;
}

.red-divider {
  width: 80%;
  height: 5px;
  background-color: red;
  color: red;
  border: 0px;
  margin-top: -0.5px;
}

section {
    margin-left: 44px;
    margin-right: 30px;
}

.logo {
  height: 10px;
  width: 70px;
  margin-left: 20px;
}

div {
  display: inline-block;
  margin-left: 135px;
  width: 30%;
  vertical-align: middle;
}

.links {
  float: right;
  margin: 0;
}

a {
  padding: 7px;
  font-family: sans-serif;
  color: #635757;
}

a:hover {
  background: red;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1
}

.search {
  float: right;
  margin-right: 145px;
  height: 15px;
  width: 15px;
  vertical-align: middle;
}

.container {
  height: 150px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

h1 {
  margin-bottom: 0px;
  color: #635757;
  font-family: sans-serif;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  top: -50px;
  margin-top: -65px;
}

.intro {
  text-align: center;
  color: #635757;
  font-family: sans-serif;
}

.images {
  height:630px;
  display: -webkit-flex;
  display:         flex;
  -webkit-justify-content: center;
        justify-content: center;
}

.leftside{
  display: inline-block;
  width: 60%;
  margin-right: 0px;
}

.rightside {
  float: right;
  display: inline-block;
  width: 40%;
  margin-left: -60px;
}

.content {
  height:200px;
  display: -webkit-flex;
  display:         flex;
  -webkit-justify-content: center;
        justify-content: center;
  font-size: 12px;
  font-family: sans-serif;
}

.deets {
  display: inline-block;
  width: 1800px;
  margin-right: 0px;
}

.new {
  color: red;
}

.decor {
  text-decoration: underline;
}

.column {
  padding: 1em;
  column-count: 3;
  column-gap: 1em;
  width: 3285px;
  margin-left: -145px;
  padding-top: 25px;
  margin-right: 70px;
}

h3 {
  width: 600px;
margin-top: 6px;
margin-left: -84px;
}
